<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">

    <!-- Sección de bienvenida -->
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Forgot Your Password?</h1>
      <p class="py-6">
        Enter your email address to receive a link to reset your password.
      </p>
    </div>

    <!-- Sección de formulario de olvido de contraseña -->
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <form class="card-body">

        <!-- Título de bienvenida -->
        <h2 class="text-center text-2xl font-bold">SERVO SYNC</h2>
        <h3 class="text-center text-lg font-semibold">Forgot Password</h3>

        <!-- Mensaje de error global -->
        <div *ngIf="errorMessage" role="alert" class="alert alert-error">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none"
            viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <span>{{ errorMessage }}</span>
        </div>

        <!-- Campo de entrada para el email -->
        <div class="form-control">
          <label class="label">
            <span class="label-text">Email address</span>
          </label>
          <input type="email" id="email" placeholder="name@example.com" class="input input-bordered"
            [(ngModel)]="request.email" name="email" required />
        </div>

        <!-- Botón para enviar solicitud de restablecimiento de contraseña -->
        <div class="form-control mt-4">
          <button type="button" class="btn btn-info" (click)="sendForgotPasswordLink()">
            Send Reset Link
          </button>
        </div>

        <!-- Enlace para 'Volver a iniciar sesión' -->
        <div class="text-center mt-4">
          <p class="text-sm">
            Remembered your password?
            <a [routerLink]="'/login'" class="link link-info">
              Login
            </a>
          </p>
        </div>
      </form>
    </div>

  </div>
</div>