<dialog #deleteModal id="deleteModal" class="modal">
    <div class="modal-box">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" (click)="closeModal()">
            <x-mark-solid-icon />
        </button>
        <h3 class="text-lg font-bold">Delete Robot</h3>
        <p>Are you sure you want to delete the robot <strong>{{ robot?.botname ?? 'NOT FOUND'}}</strong>?</p>
        <div class="modal-action">
            <button class="btn btn-error" (click)="deleteRobot()">Delete Robot</button>
        </div>
    </div>
</dialog>